*.olean
/_target
/.lake
/doc-gen
/build
web/
lean_decls
print/

# Auxiliary latex files
*.aux
*.bbl
*.log
*.fdb_latexmk
*.fls
*.out
*.paux
*.pdf
*.pygstyle
*.pygtex
*.synctex(busy)
*.synctex.gz
.DS_Store
